<!-- linear-regression.html
     This is the simple linear regression calculator -->

{% extends 'base.html' %}

{% block content %}
<br>
<!-- HEADER -->
<div class="container text-center" style="max-width: 800px;">
    <h1>
        Simple Linear Regression Calculator
    </h1>
    <br>
</div>
<!-- ACCORDION -->
<div class="container border-bottom border-3" style="max-width: 600px;">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    What is simple linear regression?
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne">
                <div class="accordion-body">
                    <p>A <a href="https://en.wikipedia.org/wiki/Linear_regression.">linear regression</a> model is a way
                        to study the relationship between several related variables using a linear function. Usually,
                        one of
                        these variables is called the <em>dependent</em> or <em>response</em> variable, while the other
                        variables are called the
                        <em>independent</em> or <em>explanatory</em> variables. A linear regression model can be
                        used to
                        predict the value of the dependent variable when only the independent variables are known.

                    <p>
                        This calculator uses simple linear regression</a>, which means that there is only one
                        independent variable. The output from this calculator
                        is a line of best fit for a set of data.
                    </p>

                    <p>There are actually many different ways to define a line of best fit. This
                        calculator
                        uses the <a href="https://en.wikipedia.org/wiki/Least_squares">least-squares approach</a>. </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    How do I use this calculator?
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo">
                <div class="accordion-body">
                    <p>
                        Enter a list of ordered pairs in the table below. Each row should contain
                        the x and y value of a single data point (typically, x is considered the independent variable and y is
                        the dependent variable). Once you have entered all of your data, click
                        'Calculate' to determine the line of best fit for the data. Note that:
                    </p>
                    <ul>
                        <li>You cannot enter more than 1000 data points.</li>
                        <li>Any rows that do not have both an x-coordinate and a y-coordinate will be
                            ignored.</li>
                        <li>Your data must contain at least two data points.</li>
                        <li>Your data must contain at least two unique x values.</li>
                    </ul>
                </div>
            </div>
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    How do I interpret the results?
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree">
                <div class="accordion-body">
                    <p>
                        This calculator will give you two results: the line of best fit and the coefficient of
                        determination
                        (also called r<sup>2</sup>).
                    </p>
                    <p>
                        The line of best fit is the linear function that best approximaties the set of data (based on
                        the least-squares approach). You can use this function to predict the y-coordinate of a new data
                        point using only the x-coordinate.
                    </p>
                    <p>
                        The coefficient of determination is a measure of how well the independent variable predicts the
                        variance of the data. An r<sup>2</sup> value that is close to 1 means that the line of best fit
                        is a very good predictor, while an r<sup>2</sup> value closer to 0 means that
                        the line is not a good fit.
                    </p>
                    <p>
                        If you get a low value for r<sup>2</sup>, there are a few possibilities:
                    </p>
                    <ul>
                        <li>A linear model is not a good fit for your data. There may be a better model for your data,
                            such as a quadratic model.</li>
                        <li>There is simply a weak correlation between your independent variable and your dependent
                            variable.</li>
                        <li>You do not have enough data points. The number of data points that you'll need will depend
                            on the context, but you should try to use as much data as possible.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<!-- FORM -->
<div class="container" style="max-width: 400px;">
    <div class="input-group text-center">
        <div class="rounded-0 form-control form-control-sm  bg-secondary text-white border-secondary">x
        </div>
        <div class="rounded-0 form-control form-control-sm  bg-secondary text-white border-secondary">y
        </div>
    </div>
    <form method="POST" id="coordinate-form">
        {{ form.hidden_tag() }}
        <div style="overflow-y: overlay; height: 310px">
            {% for entry in form.coordinates %}
            <div class="input-group">
                {{ entry.x_coordinate(class="rounded-0 form-control form-control-sm") }}
                {{ entry.y_coordinate(class="rounded-0 form-control form-control-sm") }}
            </div>
            {% endfor %}
        </div>
        <div class="input-group p-2 d-flex justify-content-center">
            {% if length != form.coordinates.max_entries %}
            {{ form.add_entry(class="btn btn-secondary rounded-start", id="add") }}
            {% else %}
            {{ form.add_entry(class="btn btn-secondary rounded-start disabled", id="add") }}
            {% endif %}

            {% if length != form.coordinates.min_entries %}
            {{ form.remove_entry(class = "btn btn-secondary border-start rounded-end")}}
            {% else %}
            {{ form.remove_entry(class = "btn btn-secondary border-start rounded-end disabled")}}
            {% endif %}

            {{ form.clear(class="btn btn-danger rounded ms-auto me-2") }}
        </div>
        <div class="input-group d-flex justify-content-center">

        </div>
        <div class="input-group d-flex justify-content-center">
            {{ form.submit(class="btn btn-primary btn-lg rounded", id="calculate") }}
        </div>
    </form>
</div>
<br>
<!-- RESULTS -->
{% if invalid_line == False %}
<div class="container text-center border-top border-3" style="max-width: 600px;">
    <br>
    <img width=360 height=360
        src="{{ url_for('statistics.linear_regression_plot', data_json = form.data_json.data, alpha = alpha, beta = beta) }}"
        alt="test" style="margin-right: 100px">
</div>
<div class="container" style="max-width: 600px;">
    <table class="table table-borderless" id="table">
        <tbody>
            <tr>
                <td class="text-end">Line of best fit:</td>
                <td style="width: 300px">{{ line_of_best_fit }}</td>
            </tr>
            <tr>
                <td class="text-end" style="width: 300px">Coefficient of determination:</td>
                <td style="width: 300px">r<sup>2</sup> = {{ r2 }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endif %}

<!-- https://stackoverflow.com/questions/31863582/automatically-scroll-to-a-div-when-flask-returns-rendered-template -->
{% if scroll %}
<script>
    const scrollTo = '{{ scroll }}'
    if (scrollTo === 'table') {
        setTimeout(() => { document.getElementById(scrollTo).scrollIntoView(); }, 50);
    }
    else {
        document.getElementById(scrollTo).focus();
    }
</script>
{% endif %}
<script>
    const maxEntries = Number('{{ form.coordinates.max_entries }}')
    const length = Number('{{ length }}')
    document.getElementById('coordinates-' + (length - 1) + '-y_coordinate').onkeydown = PresTab;

    function PresTab(e) {
        var keycode = (window.event) ? event.keyCode : e.keyCode;
        if (keycode == 9 && length != maxEntries)
            document.getElementById('add').click()
    }

    document.addEventListener("keydown", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById('calculate').click()
        }
    });
</script>

{% endblock %}