{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <div class="text-center">
        <h1>Linear Regression Calculator</h1><br>
        <p>
            This calculator will compute the linear regression line for a set of data.
        </p>
        <p>
            Use the table below to enter a set of ordered pairs, then press "calculate."
        </p>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  What is simple linear regression?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  How do I use this calculator?
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
              </div>
            </div>
          </div>
    </div>
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg d-flex justify-content-center">
            <div style="max-width: 400px;">
                <div class="input-group text-center">
                    <div class="rounded-0 form-control form-control-sm  bg-secondary text-white border-secondary">x
                    </div>
                    <div class="rounded-0 form-control form-control-sm  bg-secondary text-white border-secondary">y
                    </div>
                </div>
                <form method="POST" id="coordinate-form">
                    {{ form.hidden_tag() }}
                    <div style="overflow-y: overlay; height: 310px">
                        {% for entry in form.coordinates %}
                        <div class="input-group">
                            {{ entry.x_coordinate(class="rounded-0 form-control form-control-sm") }}
                            {{ entry.y_coordinate(class="rounded-0 form-control form-control-sm") }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="input-group p-2 d-flex justify-content-center">
                        {% if length != form.coordinates.max_entries %}
                        {{ form.add_entry(class="btn btn-secondary rounded-start", id="add") }}
                        {% else %}
                        {{ form.add_entry(class="btn btn-secondary rounded-start disabled", id="add") }}
                        {% endif %}

                        {% if length != form.coordinates.min_entries %}
                        {{ form.remove_entry(class = "btn btn-secondary border-start rounded-end")}}
                        {% else %}
                        {{ form.remove_entry(class = "btn btn-secondary border-start rounded-end disabled")}}
                        {% endif %}

                        {{ form.clear(class="btn btn-danger rounded ms-auto me-2") }}
                    </div>
                    <div class="input-group d-flex justify-content-center">
                        
                    </div>
                    <div class="input-group d-flex justify-content-center">
                        {{ form.submit(class="btn btn-primary btn-lg rounded", id="calculate") }}
                    </div>
                </form>
            </div>
        </div>
        {% if form.data_json.data %}
        <div class="col-lg d-flex justify-content-center align-items-center">
            <img width=360 height=360 src="{{ url_for('statistics.linear_regression_plot', data_json = form.data_json.data, alpha = alpha, beta = beta) }}" alt="test">
        </div>
        {% endif %}
    </div>
</div>

<!-- https://stackoverflow.com/questions/31863582/automatically-scroll-to-a-div-when-flask-returns-rendered-template -->
{% if scroll %}
<script>
    document.getElementById('{{ scroll }}').focus();
</script>
{% endif %}
<script>
    const maxEntries = Number('{{ form.coordinates.max_entries }}')
    const length = Number('{{ length }}')
    document.getElementById('coordinates-' + (length - 1) + '-y_coordinate').onkeydown = PresTab;

    function PresTab(e) {
        var keycode = (window.event) ? event.keyCode : e.keyCode;
        if (keycode == 9 && length != maxEntries)
            document.getElementById('add').click()
    }

    document.addEventListener("keydown", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById('calculate').click()
        }
    });
</script>

{% endblock %}